.inputWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.addCardInput {
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
}

.addCardButton {
  border-radius: 15px;
  border: none;
  color: grey;
  background-color: antiquewhite;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}
.addCardButton:hover,
.addCardButton:focus {
  scale: 1.1;
  color: antiquewhite;
  background-color: rgb(47, 129, 180);
}
